<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="header.css">
</head>
<body>


    <div class="center">

        <%- include("./partials/header.ejs", {currentUser}) %> 

        <div class="blog">
            <h3 class="title">
                <%= blog.title %>
            </h3>
            <% if (currentUser != null && currentUser.username == blog.author) { %> 
                <button class="delete" data-id="<%= blog._id %>">
                    delete
                </button>
                <button class="edit" data-id="<% blog._id %>">
                    edit
                </button>
            <% } %> 
            <span class="author">
                <%= blog.author %>
            </span>
            <br>
            <span class="time">
                <% const time = blog.time %> 
                <%= `${time.getFullYear()}-${time.getMonth()}-${time.getDate()} ${time.getHours()}:${time.getMinutes()}` %> 
            </span>
            <div class="sep"></div>
            <div class="content">
                <% const sections = blog.content.split("\n") %> 
                <% for (let i = 0; i < sections.length; i++) { %> 
                    <p class="content">
                        <%= sections[i] %>
                    </p>
                <% } %> 
            </div>
            <form action="/<%= blog._id %>" method="POST" id="update">
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                <div>
                    <button type="submit" class="submit">Save</button>
                    <button type="button" class="cancel">Cancel</button>
                </div>
            </form>
        </div>

    </div>

    <script>
        const btn = document.querySelector("button.delete")
        const id = btn.dataset.id
        btn.addEventListener("click", () => {
            fetch(`/${id}`, {
                method: "DELETE"
            }).then(res => res.json())
            .then(res => {
                window.location.href = res.redirect
            })
        })
    </script>

    <script>

        const edit = document.querySelector("button.edit")

        const content = document.querySelector("div.content")
        const allP = document.querySelectorAll("div.content p")
        const updateForm = document.querySelector("form#update")
        const textarea = document.querySelector("form#update textarea")

        const cancel = document.querySelector("form#update button.cancel")

        edit.addEventListener("click", () => {
            let text = ""
            for(let i = 0; i < allP.length; i++) {
                text = text + allP[i].innerText + "\n"
            }
            content.style.display = "none"
            updateForm.style.display = "block"
            textarea.value = text
        })

        cancel.addEventListener("click", () => {
            content.style.display = "block"
            updateForm.style.display = "none"
        })

    </script>
    
</body>
</html>